<%- include ('../partials/_header.ejs')  %> 
  
  <div class="container">
    <%- include ('../partials/_msg.ejs')  %> 
    <div class="jumbotron text-center my-1">
        <h1 class="display-4 ml-2">Book Store</h1>
        <p class="lead ml-2">Bán sách chính hãng, xuất xứ rõ ràng, chất lượng đảm bảo. Sách bảo hành uy tín, giá cả cạnh tranh</p>
    </div>
    <br>

    <div class="container mb-4 home-books">
      <% if(typeof user !== 'undefined' && user.role === 'admin'){ %>    
        <a href="/books/add" class="btn btn-sm btn-primary" style="display: flex; align-items: center; justify-content: center;">
            <img src="/img/adds.svg" alt="Add Book" class="mr-3"> 
        </a>
    <% } %>
    
    
      <% books.forEach(book => { %>
        <div class="card" style="width: 18rem; position: relative;">
          <img  style="height: 15rem;" src="<%= book.image  %> " class="card-img-top" alt="...">
          <div class="card-body" style="background-color:#efe3d4">
            <h5 class="card-title"><%= book.name %></h5>
            <p class="card-title">Tác giả: <%= book.author %> </p>
            <h3 class="lead text-danger p-0">Giá: <%= book.price %></h3>
            <hr class="my-2">
            <a href="/books/view/<%= book._id %> " class="btn btn-primary">Chi tiết</a>
          </div>
      </div>
     <% }) %> 
    </div>
  </div>
<%- include ('../partials/_footer.ejs') %> 